# Экзамен по курсу "Аналитика данных на Python"

Этот тест проверит Ваши навыки работы с таблицами данных с помощью библиотек pandas и numpy. Задания делятся на простые (⭐️), средние (⭐️⭐️) и сложные (⭐️⭐️⭐️). Решение простых заданий, как правило, требует одной-двух операций с таблицами, тогда как для более сложных может потребоваться несколько последовательных преобразований данных.

##  Предыстория

Сегодня Ваш первый день работы в крупном интернет-магазине, который продаёт товары с доставкой по всему миру. Ваша первая задача – проанализировать базу данных покупок, совершённых в магазине за последние несколько лет. База содержит информацию об отдельных транзакциях, про каждую из которых известны номер инвойса (InvoiceNo), дата инвойса(InvoiceDate), код товара (StockCode), описание товара(Description), количество товара в транзакции (Quantity), стоимость единицы товара (UnitPrice), код покупателя (CustomerID), страна покупателя (Country).

База выгружена для Вас в формате CSV: файл [```online-retail.csv```](https://drive.google.com/file/d/1O1oJtpEu-u6s6xTu7seQfnNcQjYCt0GF/view?usp=sharing)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
from datetime import datetime, date, time

## ⭐️ Вопрос 1

Загрузите данные из файла online-retail.csv в переменную типа pandas DataFrame

Подсказка: Используйте функцию из библиотеки pandas

Какой символ-разделитель используется в этом файле?

* Запятая ","
* Двоеточие ":"
* Точка с запятой ";"
* Символ табуляции "tab"

#### Решение

In [2]:
df =pd.read_csv("online-retail.csv", sep = ";", parse_dates = ['InvoiceDate'], dayfirst = False)
df.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom

## ⭐️ Вопрос 2

Сколько строк в полученной таблице (не считая заголовков столбцов)?

#### Решение

In [3]:
df.shape[0]

541911

## ⭐️ Вопрос 3

Сколько столбцов в полученной таблице (не считая индекса)?

#### Решение

In [4]:
df.shape[1]

8

## ⭐️ Вопрос 4

Как называется столбец с самым коротким названием?

#### Решение

In [5]:
sorted(df.columns, key = len)[0]

'Country'

## ⭐️ Вопрос 5

В скольких столбцах встречаются пропущенные значения? (ответ - целое число)

#### Решение

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541911 entries, 0 to 541910
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541911 non-null  object
 1   StockCode    541911 non-null  object
 2   Description  540456 non-null  object
 3   Quantity     541911 non-null  int64
 4   InvoiceDate  541911 non-null  datetime64[ns]
 5   UnitPrice    541911 non-null  float64
 6   CustomerID   406831 non-null  float64
 7   Country      541911 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

## ⭐️ Вопрос 6

Сколько пропущенных значений в столбце CustomerID? (ответ - целое число)

#### Решение

In [7]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1455
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

## ⭐️⭐️ Вопрос 7

Посмотрим, данные за какой исторический период у нас есть. 

Данные за какой самый ранний и за какой самый поздний годы содержатся в датасете? В ответе укажите два целых числа через запятую.

#### Решение

In [8]:
print(df['InvoiceDate'].sort_values().max(), df['InvoiceDate'].sort_values().min())

2011-12-09 12:52:00 2010-12-01 08:26:00

## ⭐️ Вопрос 8

Каковы минимальная и максимальная цена товаров (UnitPrice)? Перечислите через запятую. Цена в этом задании может принимать отрицательные значения.

#### Решение

In [9]:
print(df['UnitPrice'].max(), df['UnitPrice'].min())

38970.0 -11062.06

## ⭐️ Вопрос 9

В таблице оказались товары с отрицательными ценами! Это явно какая-то ошибка. Какое описание (Description) у таких транзакций? Перечислите все варианты через запятую, отсортировав строки по алфавиту.

#### Решение

In [10]:
df1 = df[['Description', 'UnitPrice']]
df1 = df1[df1['UnitPrice'] < 0]
df1

            Description  UnitPrice
299983  Adjust bad debt  -11062.06
299984  Adjust bad debt  -11062.06

## ⭐️ Вопрос 10

Поищем ещё возможные проблемы с данными. Как насчёт товаров с нулевыми ценами? 

Сколько в таблице транзакций с нулевой ценой? А с пропусками на месте цены? 

Перечислите два целых числа через запятую.

#### Решение

In [11]:
df2 = df[['Description', 'UnitPrice']]
df2 = df2[df2['UnitPrice'] == 0]
print(df2.shape[0], df['UnitPrice'].isnull().sum())

2515 0

## ⭐️⭐️ Вопрос 11

Для дальнейшего анализа поведения покупателей нам понадобится набор данных, в которых у каждой транзакции корректно указана цена, количество единиц товара (Quantity) и id покупателя (CustomerID). Удалите из таблицы все строки, в которых цена не превосходит 0 или пропущена, или количество единиц товара не превосходит 0 или пропущено, или в которых пропущен id покупателя. 

Сколько строк осталось?

#### Решение

In [12]:
df3 = df[(df['UnitPrice'] > 0) & (df['Quantity'] > 0) & (df['CustomerID'].notnull())]
df3.info()
df3.shape[0]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 397886 entries, 0 to 541910
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    397886 non-null  object
 1   StockCode    397886 non-null  object
 2   Description  397886 non-null  object
 3   Quantity     397886 non-null  int64
 4   InvoiceDate  397886 non-null  datetime64[ns]
 5   UnitPrice    397886 non-null  float64
 6   CustomerID   397886 non-null  float64
 7   Country      397886 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 27.3+ MB

397886

## Внимание! 

### Везде далее мы работаем с очищенной таблицей, полученной в Вопросе 11.

## ⭐️⭐️ Вопрос 12

В таблице для каждой транзакции указаны цена за единицу товара (UnitPrice) и количество единиц товара (Quantity). Вычислите для каждой транзакции её **полную стоимость** и сохраните в новом столбце Price, который добавьте в таблицу. 

Каковы минимальная и максимальная полная стоимость транзакций? Перечислите через запятую, округлив до целых чисел.

#### Решение

In [13]:
df3['Price'] = df['Quantity'] * df['UnitPrice']
print(math.ceil(df3['Price'].min()), math.ceil(df3['Price'].max()))
df3.sort_values('Price')

1 168470

C:\Users\niash\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Price
361741,568375,BANK CHARGES,Bank Charges,1,2011-09-26 17:01:00,0.001,13405.0,United Kingdom,0.001
157195,550193,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-04-15 09:27:00,0.001,13952.0,United Kingdom,0.001
279045,561226,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-07-26 10:13:00,0.001,15618.0,United Kingdom,0.001
359871,568200,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 14:58:00,0.001,16198.0,United Kingdom,0.001
500313,578757,16216,LETTER SHAPE PENCIL SHARPENER,1,2011-11-25 11:41:00,0.060,12748.0,United Kingdom,0.060
...,...,...,...,...,...,...,...,...,...
348325,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.060,17450.0,United Kingdom,7144.720
173382,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.750,16029.0,United Kingdom,8142.750
222680,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.500,15098.0,United Kingdom,38970.000
61619,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.040,12346.0,United Kingdom,77183.600
540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.080,16446.0,United Kingdom,168469.600

## ⭐️⭐️ Вопрос 13

В нашей базе данных каждая покупка представлена одной или несколькими транзакциями. Покупка однозначно определяется своим номером инвойса (InvoiceNo). Транзакции, относящиеся к одной покупке, имеют один и тот же InvoiceNo. 

Стоимость всей покупки равна сумме полных стоимостей транзакций, входящих в неё. Найдите стоимости трёх самых дорогих покупок. Перечислите через запятую в порядке убывания, округлив до целых чисел.

#### Решение

In [14]:
df3.groupby('InvoiceNo', as_index = False).agg("sum").sort_values('Price', ascending = False)['Price']  \
        .map(lambda x: math.ceil(x)).head(3)

18499    168470
1909      77184
7925      38970
Name: Price, dtype: int64

## ⭐️⭐️ Вопрос 14

Какой товар составил наибольшую выручку? В ответе укажите описание товара (дословно строку из соответствующего поля в столбце Description).

#### Решение

In [15]:
df14 = df3[['Description', 'Price']]
df14.groupby('Description', as_index = False).agg("sum").sort_values('Price', ascending = False)['Description'].iloc[0]

'PAPER CRAFT , LITTLE BIRDIE'

## ⭐️⭐️ Вопрос 15

Создайте новую таблицу purchases, в которой каждая строка будет соответствовать отдельной покупке, со столбцами 
InvoiceNo, InvoiceDate, Price, CustomerID, Country.

Поскольку дата InvoiceDate может быть отличаться для разных транзакций внутри одной покупки, при группировке возьмите самую раннюю из дат. Также отсортируйте её по датам по возрастанию.

Учтите, что InvoiceDate — не уникальное поле, данные стоит дополнительно отсортировать по InvoiceNo, перед тем как брать первое значение группы.

Сколько получилось строк?

#### Решение

In [16]:
purchases = df3[['InvoiceNo', 'InvoiceDate','Price', 'CustomerID', 'Country']].sort_values(['InvoiceNo', 'InvoiceDate'])
purchases = purchases.groupby('InvoiceNo', as_index = False) \
            .agg({'InvoiceDate':lambda x: x.iloc[0], 'Price':'sum', 
                 'CustomerID':lambda x: x.iloc[0],'Country':lambda x: x.iloc[0] })
purchases

      InvoiceNo         InvoiceDate   Price  CustomerID         Country
0        536365 2010-12-01 08:26:00  139.12     17850.0  United Kingdom
1        536366 2010-12-01 08:28:00   22.20     17850.0  United Kingdom
2        536367 2010-12-01 08:34:00  278.73     13047.0  United Kingdom
3        536368 2010-12-01 08:34:00   70.05     13047.0  United Kingdom
4        536369 2010-12-01 08:35:00   17.85     13047.0  United Kingdom
...         ...                 ...     ...         ...             ...
18528    581584 2011-12-09 12:25:00  140.64     13777.0  United Kingdom
18529    581585 2011-12-09 12:31:00  329.05     15804.0  United Kingdom
18530    581586 2011-12-09 12:49:00  339.20     13113.0  United Kingdom
18531    581587 2011-12-09 12:50:00  249.45     12680.0          France
18532    581588 2011-12-09 12:52:00   37.80     12594.0           Italy

[18533 rows x 5 columns]

## ⭐️⭐️ Вопрос 16

Исследуем, растут или убывают покупки наших клиентов после их первой покупки на сайте. Найдите среднюю цену первых покупок клиентов: для каждого клиента возьмите его первую покупку и усредните эти значения. Найдите среднюю цену покупок в целом. Округлите эти числа до целых и перечислите в этом порядке через запятую.

\* При равных TimeStamp по покупкам первой считается покупка с меньшим InvoiceNo.

#### Решение

In [17]:
mean_purc = 0
for ID in purchases['CustomerID'].unique().tolist():
    mean_purc += purchases[purchases['CustomerID'] == ID]['Price'].iloc[0]
    
mean_purc = mean_purc / purchases['CustomerID'].unique().shape[0]
mean_purc

425.656524435223

In [18]:
df16 = purchases[['CustomerID','Price']].groupby('CustomerID', as_index = False) \
            .agg({'Price':lambda x: x.iloc[0]})
print(math.ceil(df16['Price'].mean()), math.ceil(purchases['Price'].mean()))

426 481

## ⭐️⭐️⭐️ Вопрос 17

В какой день недели было наибольшее число покупок? В ответе укажите русское название дня недели, начинающееся с заглавной буквы.


Подсказка: 
* Преобразуйте тип данных в столбце InvoiceDate таблицы purchases из строк в datetime. 
* Для каждой покупки вычислите день недели, в который она была совершена. Сохраните в новый столбец.
* Сгруппируйте таблицу по дням недели.

#### Решение

In [19]:
purchases['Day'] = purchases['InvoiceDate'].map(lambda x: x.day_name())
purchases.groupby('Day',as_index = False).agg('count').sort_values('InvoiceNo')[['Day', 'InvoiceNo']].iloc[-1]['Day']

'Thursday'

## ⭐️⭐️⭐️ Вопрос 18

В какой год и месяц выручка была максимальной?

Подсказка: 
* Преобразуйте тип данных в столбце InvoiceDate таблицы purchases из строк в datetime. 
* Для каждой покупки вычислите год и месяц, в которые она была совершена. Сохраните в новые столбцы.
* Сгруппируйте таблицу по новым столбцам

В ответе укажите два целых числа через запятую: год, месяц

#### Решение

In [20]:
purchases['month'] = purchases['InvoiceDate'].map(lambda x: x.month_name())
purchases['year'] = purchases['InvoiceDate'].map(lambda x: x.year)

print(purchases.groupby('month',as_index = False).agg('sum').sort_values('Price')[['month', 'Price']].iloc[-1]['month'],
     purchases.groupby('year',as_index = False).agg('sum').sort_values('Price')[['year', 'Price']].iloc[-1]['year'])

November 2011.0

## ⭐️⭐️⭐️ Вопрос 19

Магазин продаёт товары покупателям из разных стран (Country). В какой стране был наибольший процентный рост месячных продаж, если сравнить март 2011 и сентябрь 2011? Сколько процентов составил этот рост? В расчёт брать только страны, в которых были ненулевые продажи в обоих этих месяцах. В ответе укажите через запятую название страны и целое число (процентный рост, округлённый до целого числа).

#### Решение

In [21]:
day1 = pd.to_datetime('2011-3-1')
day2 = pd.to_datetime('2011-4-1')
day3 = pd.to_datetime('2011-9-1')
day4 = pd.to_datetime('2011-10-1')
dff1 = purchases[(purchases['InvoiceDate'].map(lambda x: x.date() >= day1)) &  \
               (purchases['InvoiceDate'].map(lambda x: x.date() < day2))][['Country','Price']] \
                .groupby('Country', as_index = False).agg('sum')
dff2 = purchases[(purchases['InvoiceDate'].map(lambda x: x.date() >= day3)) &  \
               (purchases['InvoiceDate'].map(lambda x: x.date() < day4))][['Country','Price']] \
                .groupby('Country', as_index = False).agg('sum')
dff1 = dff1.merge(dff2, on = 'Country', how = 'left').dropna()
dff1['procent'] = (dff1['Price_y'] - dff1['Price_x']) / dff1['Price_x'] * 100
dff1.sort_values('procent').iloc[-1]

C:\Users\niash\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:5: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior.  In a future version these will be considered non-comparable.Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  """
C:\Users\niash\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:6: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior.  In a future version these will be considered non-comparable.Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.

C:\Users\niash\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:8: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior.  In a future version these will be considered non-comparable.Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.

C:\Users\niash\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:9: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior.  In a future version these will be considered non-comparable.Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  if __name__ == '__main__':

Country        Norway
Price_x       1265.31
Price_y       8678.94
procent    585.914124
Name: 15, dtype: object

## ⭐️⭐️⭐️ Вопрос 20

Большинство клиентов все свои покупки делают из одной и той же страны. Выясним, однако, насколько велика доля путешественников среди клиентов. 
Сколько клиентов сделали покупки по крайней мере из двух разных стран? (ответ - целое число)

#### Решение

In [22]:
df20 = purchases[['Country', 'CustomerID']].groupby('CustomerID', as_index = False).agg('nunique').sort_values('Country')
df20[df20['Country'] > 1].shape[0]

8